*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
#maket {
    /*background-color: #ffe4dd;*/
    min-height: 100%;
}
#header {
    background-color: #ffff00;
}
#content {
    /*background-color: #008000;*/
}
#rasporka {
    height: 40px;
}
#footer {
    background-color: #808080;
    height: 40px;
    margin-top: -40px;
}