/*Фон сайта*/
.tablefon {
    background-color: #96D0E8; background-image: url(skins/base/images/fonactiontop.gif);
}


.in_input, .button {
    font-family: Tahoma;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #004BBC;
}

.in_input_txt {
    font-family: Tahoma;
    font-size: 11px;
    color: #000000;
    padding-left: 10px;
}



/*НЕ ЗНАЮ*/
.in_input_ttl {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color: #004BBC;
    padding-right: 40px;
    text-align: right;
}

.in_input_lnk {
    color: #222222;
    text-decoration: underline;
}

.in_input_lnk:hover {
    color: #444444;
    text-decoration: none;
}







.rightpanel_ttl, .main_ttl {
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.rightpanel_txt, .main_txt {
    font-family: Tahoma;
    font-size: 11px;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: left;
}

.rightpanel_lnk, .main_txt_lnk {
    color: #3E618B;
    text-decoration: underline;
}

.rightpanel_lnk:hover {
    text-decoration: none;
}

.menu_ttl {
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}


/*В index.php - в центре*/
.menu_txt {
    font-family: Tahoma;
    font-size: 11px;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}







.menu_lnk {
    color: #000000;
    text-decoration: none;
}

.menu_lnk:hover {
    color: #777777;
}




/*НЕ ЗНАЮ*/
.stable_ttl {
    background-color: #5A6F8F;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
}

.stable_txt {
    color: #000000;
    font-family: Tahoma;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.stable_lnk {
    color: #5A6F8F;
    font-weight: bold;
    text-decoration: none;
}

.stable_lnk:hover {
    color: #8B9DBE;
}

.stable_tr_ttl_clr {
    background-color: #A4BADC;
}

.stable_tr_clr1 {
    background-color: #D3DFEB;
}

.stable_tr_clr2 {
    background-color: #F2F3F8;
}