/******************************************************************
  Layout: Space Theme Game List
  Created: Leigh Mackay 
  Date: 23 / 02 / 08 
******************************************************************/

/******************************************************************
 +Overall Colors and Styles
******************************************************************/

body {
  text-align: center;
  
  margin: 0;
  padding: 0;
  background: black  url(../images/site-bg.jpg) no-repeat fixed top center;
}

body, td, th, textarea, input, select, h1, h2, h3, h4, h5, h6 {
	font-size: 62.7%;
	font-family: Arial, Helvetica, sans-serif;
}

 p, form, h1, h2, h3, h4, h5, h6,  ul, ol {
	margin: 0px;
	padding: 0px;
}

a img { 
	border: none;
}

a { 
  color: #0099CC;
  text-decoration: none;
}

a:hover { 
  color: #FFCC00;
}

.clear-fix {
  clear: both;
}

/******************************************************************
 +Basic Skeleton
******************************************************************/

#wrapper {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#header {
  width: 520px;
  float: right;
  height: 200px;
  position: relative;
}

#main {
  display: inline;
  color: white;
  width: 520px;
  float: right;
  margin-top: 10px;
}

#sidebar {
  top: 0;
  width: 223px;
  float: left;

}

#footer { 
 width: 760px;
 height: 20px;
 padding-top: 10px;
 clear: both;
 text-align: center;
 color: white;
}

/******************************************************************
 +Header
******************************************************************/
#logo {
  margin-left: 36px;
  margin-top: 0px;
  width: 240px;
  height: 40px;
  float: left;
}

#consoles {
  margin-left: 20px;
  margin-top: 3px;
  width: 224px;
  height: 45px;
  float: left;
}
#blurb {
  margin-top: 65px;
  margin-left: 0px;
  width: 515px;
  height: 94px;
  background-image: url(../images/blurb.png); 
  float: left;
}

.blurb-title {
  color: #7796B4;
  display: block;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 1.8em;
}

.blurb-txt {
  display: block;
  width: 490px;
  color: white;
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.2em;
}



/******************************************************************
 +main
******************************************************************/

#main h2 {
	
	font-size: 1.8em;
	
}
.game {
  margin-left: 0px;
  margin-top: 3px;
  width: 515px;
  height: 196px;
  background: url(../images/game-bg.png) no-repeat; 
  display: block;
}

#thankyou{
  margin-left: 0px;
  margin-top: 3px;
  width: 515px;
  height: 196px;
  background: url(../images/game-bg.png) no-repeat; 
  display: block;
}
.game-pack {
  margin-top: 13px;
  margin-left: 15px;
  width: 100px;
  display: block;
  float: left;
}

.xbox-title {
  color: #99CC00;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 1.8em;
}

.game-txt {
  display: block;
  width: 360px;
  color: white;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  font-size: 1.2em;
}

.empty {
  margin-top: 10px;
  font-size: 1.9em;
  color: #99CC00;

}

.body-txt {
  display: block;
  width: 360px;
  color: white;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  font-size: 1.2em;
}

.body-txt b{
  color: #99CC00;
}

.pay-button {
  float: right;
  margin-right: 50px;
  margin-top: 10px;	
}

.buyme {
  margin-left: 20px;
  margin-top: 4px;
}
#items-box {
  background: url(../images/checkout-bg.png) no-repeat; 
  padding-bottom: 5px;
  padding-top: 10px;
}
#items {
  width: 98%;
  text-align: center;
}

th{
 font-size: 1.1em;
 color: #99CC00;
 text-transform:uppercase;
}

td{
 font-size: 1.3em;
}

.qty {
 font-size: 1em;
}



/******************************************************************
 +Sidebar
******************************************************************/

#cart {
  text-align: center;
  margin-left: 0px;
  margin-top: 3px;
  width: 223px;
  height: 190px;
  background-image: url(../images/cart-bg.png); 
  position: fixed;
}

#cartprice {
  margin-top: 60px;
  color: white;
  font-size: 1.9em;
  display: block;
}

#checkout {
  text-align: left;
  margin-left: 65px;
  clear: both;
  margin-top: 40px;
}



#paypal {
  margin-left: 0px;
  margin-top: 230px;
  position: fixed;
}

